<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<div class="container-fluid bg-gray logs-table mb-5">
    <div>
        <h3>Logs</h3>
        <div class="mt-4 d-flex align-items-center">
            <form method="GET" action='/logs/filter'>
            <input type="text" class="form-control-sm mr-4" name="q" id="input-filter" class="mt-4" placeholder="Enter your filter here" required>
            <button class="btn btn-sm btn-primary btn-apply mt-4" id="btn-apply" >Apply</button>
            </form>
        </div>
    </div>
    <button id="btnExport" onclick="exportReportToExcel(this)">EXPORT REPORT</button>

    <div class="row">
        <button class="btn btn-sm btn-primary mt-4" id="btn-delete-all" data-toggle="modal" data-target="#delete-all-log-modal">Delete All</button>
    </div>
    <div class="row" style="height:400px">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID thiết bị</th>
                <th scope="col">Ip</th>
                <th scope="col">Tên thiết bị</th>
                <th scope="col">Cảm biến</th>
                <th scope="col">Giá trị</th>
                <th scope="col">Ngày</th>
                </tr>
            </thead>
            <tbody>
                {{#each logsObject}}
                <tr>
                    <th scope="row">{{deviceId}}</th>
                    <td>{{ip}}</td>
                    <td>{{name}}</td>
                    <td>{{sensor}}</td>
                    <td>{{value}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{_id}}" data-target="#delete-log-modal">Remove</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        You don't have any logs yet
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" id="btn-previous"><a class="page-link" href="/logs?page={{{sum current -1}}}">Previous</a></li>
                <li class="page-item" id="btn-1"><a class="page-link" href="/logs?page=1">1</a></li>
                <p id="more" style="margin: 0 4px">    ...    </p>
                <li class="page-item" id="btn-first"><a class="page-link" href="/logs?page={{current}}">{{{current}}}</a></li>
                <li class="page-item"><a class="page-link" id="btn-next-2" href="/logs?page={{{sum current 1}}}">{{{sum current 1}}}</a></li>
                <li class="page-item"><a class="page-link" id="btn-next-3" href="/logs?page={{{sum current 2}}}">{{{sum current 2}}}</a></li>
                <p id="more-to-last" style="margin: 0 4px">    ...    </p>
                <li class="page-item" id="btn-last"><a class="page-link" href="/logs?page={{pages}}">{{pages}}</a></li>
                <li class="page-item" id="btn-next"><a class="page-link" href="/logs?page={{{sum current 1}}}">Next</a></li>
                </ul>
        </nav>
    </div>
</div>
{{!-- Confirm delete log --}}
<div id="delete-log-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove log?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this log</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-log" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{{!-- Confirm delete log --}}
<div id="delete-all-log-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove all log?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove all log</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-all-log" type="button" class="btn btn-danger">Delete All</button>
            </div>
        </div>
    </div>
</div>
{{! Hidden delete form }}
<form name='delete-log-form' method='POST'></form>
<form name='delete-all-log-form' method='POST'></form>
<script>
    function exportReportToExcel() {
    let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
    TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
        name: `export.xlsx`, // fileName you could use any name
        sheet: {
        name: 'Sheet 1' // sheetName
        }
    });
    }
    // Apply button Action
    document.addEventListener('DOMContentLoaded', function() {
        var deleteForm = document.forms['delete-log-form']
        var logId;
        var btnDeleteLog = document.getElementById('btn-delete-log');
        var btnApply = $('#btn-apply')
        var checkboxAll = $('#checkbox-all')
        var logItemCheckbox = $('input[name="logIds[]"]')
        var deleteAllForm = document.forms['delete-all-log-form'];
        var btnDeleteAll = document.getElementById('btn-delete-all-log');
        // user choice on view
        $('#delete-log-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            logId = button.data('id') // Extract info from data-* attributes
        });
        $('#delete-log-all-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
        });
        btnDeleteAll.onclick = function () {
            deleteAllForm.action = '/logs/delete-all-log?_method=DELETE';
            deleteAllForm.submit();
        };
        btnDeleteLog.onclick = function () {
            deleteForm.action = '/logs/' + logId + '?_method=DELETE';
            deleteForm.submit();
        };
        
    })
    //
    var btnPrevious = document.getElementById('btn-previous')
    var btnFirst = document.getElementById('btn-first')
    var btnNext = document.getElementById('btn-next')
    var btnNext2 = document.getElementById('btn-next-2')
    var btnNext3 = document.getElementById('btn-next-3')
    var btn1 = document.getElementById('btn-1')
    var btnLast = document.getElementById('btn-last')
    var pMore = document.getElementById('more')
    var pMoreLast = document.getElementById('more-to-last')
    if ({{{current}}} === 1) {
        btnPrevious.classList.add('disabled')
        btnFirst.classList.add('disabled')
        btn1.style.display = "none"
        pMore.style.display = "none"
    }
    else {
        btnPrevious.classList.remove('disabled')
        btnFirst.classList.remove('disabled')
    }
    if({{{current}}} === {{{pages}}}) {
        btnNext.classList.add('disabled')
        btnLast.classList.add('disabled')
        btnLast.style.display = "none"
        pMoreLast.style.display = "none"
    }
    else {
        btnLast.classList.remove('disabled')
        btnNext.classList.remove('disabled')
    }
    if (!({{{pages}}} - {{{current}}} > 1)) {
        btnNext2.style.display = "none"
    }
    if (!({{{pages}}} - {{{current}}} > 2)) {
        btnNext3.style.display = "none"
    }
    
</script>